[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
pandas = "*"
networkx = "*"
matplotlib = "*"
scipy = "*"
tqdm = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
